ul li {
    display: inline-block;
    clear: both;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 70%;

}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #222;
}

.user {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    font-weight: bold;
}

.main {
    background-color: #222;
    height: 100%;
    margin-bottom: 15%;
    overflow: scroll;
}

.center {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    color: white;
}

li {
    border: 1px solid black;
    list-style-type: none;
    margin: 2px 0;
    padding: 2px 5px;
}

.him {
    float: left;
    color: #222222;
    background-color: red;
    font-size: 20px;
    border-color: red;
    border-radius: 10px;
    clear: both;
}

.him-sign {
    float: left;
    color: red;
    font-size: 14px;
    clear: both;
}

.me {
    float: right;
    color: #222222;
    background-color: greenyellow;
    font-size: 20px;
    border-color: green;
    border-radius: 10px;
    clear: both;
}

.me-sign {
    color: greenyellow;
    font-size: 14px;
    float: right;
    clear: both;
}

h3 {
    color: #ccc !important;
    font-size: 30px !important;
}